@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Avni Goyal</h3>

    <address>
        Golfhaven Drive<br />
        Scarborough, ON <br />
        <abbr title="Phone">P:</abbr>
        941.779.1800
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:agoyal31@myseneca.ca">agoyal31@myseneca.ca</a><br />
    </address>
</main>